<body>
<div class="container">
    <h2>Set New Password</h2>
    <form (ngSubmit)="updatePassword()" #form="ngForm">
      <label for="newPassword">New Password</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" id="newPassword" required />
  
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" required />
  
      <button type="submit">Update Password</button>
    </form>
  </div>
</body>