<body>
    <div class="head">
        <img class="head-img" src="assets/life/wallpaper.jpg">
        <div class="head-text"><h1 class="head-text-h1">Life</h1></div>
    </div>
    <section class="sections">
        <section class="container">
        <header>
            <h1>Exclusive Discounts & Deals</h1>
        </header>
        <h2>Featured Sales and Deals</h2>
        <div class="grid">
            <div class="item">
                <img src="assets/life/Featured Sales and Deals/Ugg Dupe.jpg" alt="Ugg Slipper Dupe">
                <p>Cozy, stylish, and budget-friendly Ugg dupe slippers!</p>
            </div>
            <div class="item">
                <img src="assets/life/Featured Sales and Deals/bottle of water.jpg" alt="Water Bottle">
                <p>Stay hydrated with our eco-friendly, temperature-retaining water bottle!</p>
            </div>
            <div class="item fade-in"#fadeElement appFadeIn>
                <img src="assets/life/Featured Sales and Deals/Minis Protein Snack Bars.jpg" alt="Water Bottle">
                <p>Fuel your day with Minis Protein Snack Bars! Packed with protein, flavor, and energy in a bite-sized treat.</p>
            </div>
            <div class="item fade-in"#fadeElement appFadeIn>
                <img src="assets/life/Featured Sales and Deals/Good Culture Pumpkin & Spice Cottage Cheese.jpg" alt="Water Bottle">
                <p>Good Culture Pumpkin & Spice Cottage Cheese is a creamy, high-protein snack with pumpkin and spices.</p>
            </div>
            <br>
        </div>
        <div class="container fade-in"#fadeElement appFadeIn>
            <h2 class="section-title">Gardening</h2>
            <div class="grid-container">
                <div class="card">
                    <img src="assets/life/gardining/Plant These Fall Flowers for a Blooming Garden.png" alt="Fall Flowers">
                    <p>Plant These Fall Flowers for a Blooming Garden</p>
                </div>
                <div class="card">
                    <img src="assets/life/gardining/The 13 Best Garden Tools to Buy Right Now.jpg" alt="Garden Tools">
                    <p>The 13 Best Garden Tools to Buy Right Now</p>
                </div>
                <div class="card">
                    <img src="assets/life/gardining/9 Best Gardening Gloves.jpg" alt="Gardening Gloves">
                    <p>9 Best Gardening Gloves</p>
                </div>
                <div class="card">
                    <img src="assets/life/gardining/3 Ways to Boost Gardening's Health Perks.jpg" alt="Gardening Health Perks">
                    <p>3 Ways to Boost Gardening's Health Perks</p>
                </div>
            </div>
        </div><br><br>
        <section class="shopping-container fade-in"#fadeElement appFadeIn>
            <h1>Shopping & Style</h1>
            <p class="section-subtitle">From the latest workout clothes to the best winter coats, find the latest on style, here.</p>
            <div class="shopping-grid">
                <div class="shopping-card">
                    <img src="assets/life/Shopping & Style/the north face backpack.jpg" alt="North Face Backpack">
                    <p>North Face’s Sale Is Full of End-of-Season Steals</p>
                </div>
                <div class="shopping-card">
                    <img src="assets/life/Shopping & Style/Carhartt Amazon Sale in JUN 2025.jpg" alt="Carhartt Beanie">
                    <p>Carhartt Amazon Sale in Jun 2025</p>
                </div>
                <div class="shopping-card">
                    <img src="assets/life/Shopping & Style/Shop Lululemon’s ‘We Made Too Much’ March Restock.jpg" alt="Lululemon Leggings">
                    <p>Shop Lululemon’s ‘We Made Too Much’ Jun Restock</p>
                </div>
                <div class="shopping-card">
                    <img src="assets/life/Shopping & Style/This Patagonia Vest Is On Sale on Backcountry.jpg" alt="Patagonia Vest">
                    <p>This Patagonia Vest Is On Sale on Backcountry</p>
                </div>
                <div class="shopping-card">
                    <img src="assets/life/Shopping & Style/jacket.jpg" alt="Filson Jacket">
                    <p>Filson’s Best Outerwear Is Up to 50% Off This Week</p>
                </div>
                <div class="shopping-card">
                    <img src="assets/life/Shopping & Style/Shoppers Love These Orthotic Slippers—Now Only $24.jpg" alt="Orthotic Slippers">
                    <p>Shoppers Love These Orthotic Slippers—Now Only $24</p>
                </div>
                <div class="shopping-card">
                    <img src="assets/life/Shopping & Style/Your New Winter Wardrobe Staples at Amazon.jpg" alt="Winter Coat">
                    <p>Found: Your New Winter Wardrobe Staples at Amazon</p>
                </div>
                <div class="shopping-card">
                    <img src="assets/life/Shopping & Style/The Viral Lululemon Belt Bag Is $29 Right Now.jpg" alt="Lululemon Belt Bag">
                    <p>The Viral Lululemon Belt Bag Is $29 Right Now</p>
                </div>
                <div class="shopping-card">
                    <img src="assets/life/Shopping & Style/Spanx End of Season Sale Items Worth Shopping.jpg" alt="Spanx Sale">
                    <p>Spanx End of Season Sale Items Worth Shopping</p>
                </div>
            </div>
        </section>
    </section>
</section>
<app-footer></app-footer>
</body>