<div class="sidebar">
  <h3 class="sidebar-title">Admin Panel</h3>
  <ul class="nav-links">
    <li>
      <a routerLink="/admin-dashboard" routerLinkActive="active"
        >📊 Dashboard</a
      >
    </li>
    <li><a routerLink="/admin-users" routerLinkActive="active">👤 Users</a></li>
    <li>
      <a routerLink="/admin-reviews" routerLinkActive="active"
        >📝 UsersReviews</a
      >
    </li>
    <li>
      <a routerLink="/admin-requests" routerLinkActive="active">📩 Requests</a>
    </li>
    <li>
      <a routerLink="/admin-diets" routerLinkActive="active">🥗 Diet Plans</a>
    </li>
    <li>
      <a routerLink="/admin-exercise" routerLinkActive="active"
        >🏋️ Exercise Plans</a
      >
    </li>
    <li><a (click)="logout()">🚪 Logout</a></li>
  </ul>
</div>
