body {
    background-color: #EDF4F2;
  }
  
  .navbar {
    transition: background-color 0.3s ease; /* Smooth transition for color change */
  }
  
  .nav-link {
    color: #EDF4F2;
    font-weight: bold;
  }
  
  .btn-custom {
    background-color: #EDF4F2;
    color: #31473A;
    border: none;
  }
  
  .btn-custom:hover {
    background-color: #3b3b3b;
    color: #EDF4F2;
  }
  
  .icon {
    color: #EDF4F2;

  }
  .nav-link.active, .nav-link:hover {
    color: #000000;
  }
  
  .nav-link i {
    margin-right: 5px;
  }

.btn-custom.active {
  background-color: #575757;
  color: #EDF4F2;
}

.icon-link.active .icon {
  color: #000;
}
.icon-link:hover .fa-bell {
  color: #FFD700; /* gold highlight on hover */
}
.notification-dot {
  position: absolute;
  top: 3px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.cart-dot {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
}
