<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="{'background-color': getNavbarColor()}">
        <div class="container">
            <!-- Navbar Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a routerLink="/life" (click)="collapseMenu()" routerLinkActive="active"
                            class="nav-link">Life</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/health" (click)="collapseMenu()" routerLinkActive="active"
                            class="nav-link">Health</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/nutrition" (click)="collapseMenu()" routerLinkActive="active"
                            class="nav-link">Nutrition</a>
                    </li>

                    <li class="nav-item">
                        <a routerLink="/fitness" (click)="collapseMenu()" routerLinkActive="active"
                            class="nav-link">Fitness</a>
                    </li>
                </ul>
            </div>

            <!-- Right-Side Buttons & Icons -->
            <div class="d-flex align-items-center">
                <button routerLink="/subscribe" class="btn btn-custom me-2">Subscribe</button>
                <button routerLink="/sign-in" class="btn btn-custom me-2">Sign In</button>
                <a routerLink="/cart" class="nav-link">
                    <i class="fas fa-shopping-cart icon"></i>
                </a>
            </div>
        </div>
    </nav>
</body>

</html>