body {
    background-color: #EDF4F2;
  }
  
  .navbar {
    transition: background-color 0.3s ease; /* Smooth transition for color change */
  }
  
  .nav-link {
    color: #EDF4F2;
    font-weight: bold;
  }
  
  .btn-custom {
    background-color: #EDF4F2;
    color: #31473A;
    border: none;
  }
  
  .btn-custom:hover {
    background-color: #31473A;
    color: #EDF4F2;
  }
  
  .icon {
    color: #EDF4F2;

  }