<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health & Wellness</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <!-- Header Section -->
    <div class="head" id="header">
        <img class="head-img" src="assets/health/wallpaper.png">
        <div class="head-text">
            <h1 class="head-text-h1">Health</h1>
        </div>
    </div>

    <!-- Brain Health Section -->
    <section id="brain-health" class="brain-health new-section-left">
        <div class="text-container">
            <h3>BRAIN HEALTH</h3>
            <div class="underline"></div>
            <div class="flex-center">
                <div class="news-section">
                    <article class="news-item">
                        <img src="assets/health/alzheimer.webp" alt="News Image">
                        <h3>Is Alzheimer’s Hereditary?</h3>
                        <p>Alzheimer’s disease has a genetic component, but it’s not purely hereditary...</p>
                    </article>
                    <article class="news-item">
                        <img src="assets/health/Why Women Live Longer Than Men.jpg" alt="News Image">
                        <h3>Scientists: Why Women Live Longer Than Men</h3>
                        <p>Studies suggest biological and lifestyle factors contribute to women's longer lifespan...</p>
                    </article>


                    <article class="news-item">
                        <img src="assets/health/Cholesterol Changes Linked to Higher Dementia Risk.jpg"
                            alt="News Image">
                        <h3>Cholesterol Changes Linked to Higher Dementia Risk</h3>
                        <p>New research finds that fluctuating cholesterol levels may increase the risk of cognitive
                            decline and dementia over time.</p>
                    </article>

                    <article class="news-item fade-in" #fadeElement appFadeIn>
                        <img src="assets/health/Memory and Memory Loss, Explained.jpg" alt="News Image">
                        <h3>Memory and Memory Loss, Explained</h3>
                        <p>Memory loss can be a normal part of aging, but certain factors like stress, diet, and
                            exercise influence cognitive function.</p>
                    </article>

                    <article class="news-item fade-in" #fadeElement appFadeIn>
                        <img src="assets/health/bloodTest.jpg" alt="News Image">
                        <h3>This Blood Test for Alzheimer’s Is 90% Accurate</h3>
                        <p>Scientists have developed a blood test that detects early Alzheimer’s with high accuracy,
                            offering hope for early diagnosis.</p>
                    </article>

                    <article class="news-item fade-in" #fadeElement appFadeIn>
                        <img src="assets/health/Ozempic May Lower Your Risk of Cognitive Decline.jpg" alt="News Image">
                        <h3>Ozempic May Lower Your Risk of Cognitive Decline</h3>
                        <p>New studies show that diabetes medications like Ozempic might help protect brain health and
                            reduce the risk of dementia.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section id="heart-health" class="heart-health new-section-left fade-in" #fadeElement appFadeIn>
        <div class="text-container">
            <h3>HEART HEALTH</h3>
            <div class="underline"></div>
            <div class="flex-center">
                <div class="news-section">
                    <article class="news-item fade-in" #fadeElement appFadeIn>
                        <img src="assets/health/The Importance of a Healthy Diet for Heart Health.jpg" alt="News Image">
                        <h3>The Importance of a Healthy Diet for Heart Health</h3>
                        <p>A balanced diet rich in fruits, vegetables, whole grains...</p>
                    </article>
                    <article class="news-item fade-in" #fadeElement appFadeIn>
                        <img src="assets/health/Regular Exercise for a Stronger Heart.jpg" alt="News Image">
                        <h3>Regular Exercise for a Stronger Heart</h3>
                        <p>A balanced diet rich in fruits, vegetables, whole grains, lean proteins, and healthy fats can
                            help reduce the risk of heart disease. Foods like leafy greens, berries, nuts, and fatty
                            fish
                            (like salmon) are particularly beneficial for heart health.</p>
                    </article>

                    <article class="news-item">
                        <img src="assets/health/Managing Cholesterol Levels.jpg" alt="News Image">
                        <h3>Managing Cholesterol Levels</h3>
                        <p>High cholesterol levels can lead to the buildup of fatty deposits in the arteries, increasing
                            the
                            risk of heart disease. Eating foods low in saturated fats, exercising, and taking prescribed
                            medications can help manage cholesterol levels and improve heart health.</p>
                    </article>

                    <article class="news-item">
                        <img src="assets/health/The Role of Stress Management in Heart Health.jpg" alt="News Image">
                        <h3>The Role of Stress Management in Heart Health</h3>
                        <p>Chronic stress can negatively affect the heart, raising blood pressure and increasing the
                            risk of
                            heart attacks and strokes. Effective stress management techniques like mindfulness,
                            meditation,
                            yoga, and deep breathing exercises can help reduce stress and promote a healthy heart.</p>
                    </article>

                    <article class="news-item">
                        <img src="assets/health/The Impact of Smoking on Heart Health.jpg" alt="News Image">
                        <h3>The Impact of Smoking on Heart Health</h3>
                        <p>Smoking is a major risk factor for heart disease. It damages blood vessels, raises blood
                            pressure, and reduces oxygen supply to the heart, increasing the likelihood of heart attacks
                            and
                            strokes. Quitting smoking can significantly improve heart health and reduce these risks.</p>
                    </article>

                    <article class="news-item">
                        <img src="assets/health/The Importance of Regular Health Screenings.jpg" alt="News Image">
                        <h3>The Importance of Regular Health Screenings</h3>
                        <p>Regular check-ups and screenings, such as blood pressure measurements, cholesterol tests, and
                            blood sugar levels, are essential for detecting risk factors for heart disease early. These
                            screenings help identify potential problems and allow for early intervention to maintain
                            heart
                            health.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section id="better-sleep" class="better-sleep new-section-left fade-in" #fadeElement appFadeIn>
        <div class="text-container">
            <h3>BETTER SLEEP</h3>
            <div class="underline"></div>
            <div class="grid">
                <div class="card fade-in" #fadeElement appFadeIn>
                    <img src="assets/health/Could Blue Light Unlock Better Sleep in Adults.jpg"><br>
                    <h2>Could Blue Light Unlock Better Sleep in Adults?</h2>
                </div>
                <div class="card fade-in" #fadeElement appFadeIn>
                    <img src="assets/health/Why I Love the Sacriva Matthess for Great Sleep.jpg"><br>
                    <h2>Why I Love the Sacriva Matthess for Great Sleep</h2>
                </div>
                <div class="card">
                    <img src="assets/health/17 Products Our Editors Recommend for Better Sleep.jpg"><br>
                    <h2>17 Products Our Editors Recommend for Better Sleep</h2>
                </div>
                <div class="card">
                    <img src="assets/health/Our Bedding Pro's Favorite Blanked Costs Just $18.jpg"><br>
                    <h2>Our Bedding Pro's Favorite Blanked Costs Just <span class="price">$18</span></h2>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>

</html>